apiVersion: ts.opentelekomcloud.com/v1alpha1
kind: TypesenseCluster
metadata:
  labels:
    app.kubernetes.io/name: typesense-operator
    app.kubernetes.io/managed-by: kustomize
  name: c-bm-1
spec:
  image: typesense/typesense:30.0.rc7-amd64
  replicas: 3
  storage:
    size: 100Mi
    storageClassName: iscsi
---
apiVersion: ts.opentelekomcloud.com/v1alpha1
kind: TypesenseCluster
metadata:
  labels:
    app.kubernetes.io/name: typesense-operator
    app.kubernetes.io/managed-by: kustomize
  name: c-bm-2
spec:
  image: typesense/typesense:30.0.rc7-amd64
  replicas: 3
  storage:
    size: 1Gi
    storageClassName: nfs
    accessMode: ReadWriteMany